[[language]]
name = "c"
formatter = { command = "clang-format" }
auto-format = true

[[language]]
name = "cpp"
formatter = { command = "clang-format" }
auto-format = true

[[language]]
name = "typescript"
formatter = { command = "prettier", args = ["--parser", "typescript"] }
auto-format = true

[[language]]
name = "tsx"
formatter = { command = "prettier", args = ["--parser", "typescript"] }
auto-format = true
